{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<form action="" method="post" class="form" role="form">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.passlength.label }}
  <div>
    {{ form.passlength }}
  </div>
  <p class="text-danger">{{ form.passlength.errors[0] }}</p>
  </div>
  <button class="btn btn-primary" type="submit">Generate Password</button>
</form>
{% if password %}
  <div>
    <h4>Generated Password</h4>
  </div>
  <div>
    <h4>{{ password }}</h4>
  </div>
{% endif %}
{% endblock %}
